.container {
  border: 10px solid rgba(122, 160, 203, 0.7);
  border-radius: 12px;
  margin: 30px;
}
.container2 {
  text-align: center;
  padding: 20px;
}
div.row.up {
  margin: 5px;
}
body {
  padding: 20px 0;
  display: block;
  margin: 0 auto;
}
h1 i {
  color: #ffc93c;
  display: inline;
  font-size: 100px;
}
#celsius,
#fahrenheit {
  text-decoration: none;
  font-size: 16px;
}
#space {
  font-size: 16px;
}
span {
  font-size: 50px;
  color: #93b3cf;
  font-weight: 400;
}
ul {
  list-style: none;
  color: #93b3cf;
  text-align: right;
  font-size: 24px;
  padding: 5px;
}
.col-1 {
  font-size: 20px;
  color: #93b3cf;
}
i.far.fa-sun {
  color: #ffc93c;
}
i.fas.fa-cloud-sun {
  color: darkgray;
}
i.fas.fa-cloud-sun-rain {
  color: gray;
}
div.row.row-cols-5 {
  font-size: 44px;
}
p.tempo {
  font-size: 18px;
  color: #93b3cf;
  font-weight: 600;
}
p.weekday {
  font-size: 16px;
  color: #a9a9a9;
  line-height: 1px;
}

div.col {
  border: 1px solid rgba(122, 160, 203, 0.4);
  border-radius: 4px;
  margin: 16px;
}
footer {
  text-align: center;
}
form {
  width: 95%;
  display: block;
  margin: 0 auto;
}
