body {
  padding: 20px 0;
}
.container {
  border: 6px solid rgba(153, 153, 153, 0.8);
  border-radius: 12px;
  margin: 30px;
  font-family: "Poppins", sans-serif;
}
.row.up {
  margin: 5px;
}
#oneline,
#twolines {
  display: block;
  line-height: 4px;
  font-size: 16px;
}
#celsius,
#fahrenheit {
  text-decoration: none;
  font-size: 16px;
  cursor: default;
}
.showing {
  color: black;
}
#space {
  font-size: 16px;
}
span {
  font-size: 48px;
  color: #555555;
  font-weight: 400;
  letter-spacing: 2px;
}
ul {
  list-style: none;
  color: #777777;
  text-align: right;
  font-size: 24px;
  padding: 5px;
  line-height: 1.6;
}
h1 {
  color: #555555;
}
footer {
  text-align: center;
}
form {
  width: 95%;
  display: block;
  margin: 0 auto;
}

div.col-2 {
  border: 1px solid rgba(153, 153, 153, 0.5);
  border-radius: 4px;
  margin: 12px;
}
#percentage,
#value {
  font-size: 15px;
  letter-spacing: 2px;
}
#precipitation,
#wind {
  font-size: 15px;
  color: #555555;
  font-weight: normal;
  letter-spacing: 1.5px;
}
#precipitation {
  padding-top: 15px;
}
#windtext,
#wind {
  font-size: 15px;
  display: inline;
  letter-spacing: 1.5px;
}
#precipitation,
#windtext {
  letter-spacing: 1.5px;
}
#description {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 5px;
  text-align: center;
}
.weather-forecast-date {
  color: #555555;
}
.temperature-max,
.temperature-min {
  font-size: 16px;
  text-align: center;
}
.weather-forecast-temperature {
  display: block;
  color: #555555;
  font-size: 10px;
}
.temperature-min {
  opacity: 0.6;
}
.btn:hover {
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  transition: all 500ms ease-in-out;
}
